.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.heading{
  text-align: center;
  text-shadow: 3px 3px 8px rgb(88, 236, 255);

}
body{
  background-image: linear-gradient(
    to bottom,
    skyblue 5%,
    pink 50%,
    white 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  position: relative;
  height:800px;
  width:100%;
}



button:hover{
  background-color:  rgb(88, 236, 255);
}

.external{
  font-weight: bold;
}
@media  (min-width:1330px) and (max-width:1800px) {
  button{
    width:340px;
    height:70px;
    border-radius: 40px;
    background-color: #91D8E4;
    margin: 100px;
  }
  .flexcontainer{
    display:flex;
    flex-direction: row;
    justify-content: center;
  }
  .container1{
    width:550px;
    height:300px;
    background-color: rgb(88, 236, 255);
    position: absolute;
    top:350px;
    left:110px;
    border: 2px solid black;
    border-radius: 30px;
  }
  .container2{
    width:550px;
    height:300px;
    background-color: rgb(211, 82, 211);
    position: absolute;
    top:350px;
    right:110px;
    border: 2px solid black;
    border-radius: 30px;
  }
  
}
@media (min-width:899px) and (max-width:1329px){
  .flexcontainer{
    display:flex;
    flex-direction: row;
    justify-content: center;
  }
  button{
    width:340px;
    height:70px;
    border-radius: 40px;
    background-color: #91D8E4;
    margin: 100px;
  }
  .container1{
    width:550px;
    height:300px;
    background-color: rgb(88, 236, 255);
    position: absolute;
    top:350px;
    left:200px;
    border: 2px solid black;
    border-radius: 30px;
  }
  .container2{
    width:550px;
    height:300px;
    background-color: rgb(211, 82, 211);
    position: absolute;
    top:700px;
    left:200px;
    border: 2px solid black;
    border-radius: 30px;
  }
}
@media (min-width:300px) and (max-width:898px){
  .flexcontainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  button{
    width:340px;
    height:70px;
    border-radius: 40px;
    background-color: #91D8E4;
    margin: 10px ;
    margin-left: 230px;
  }
  .container1{
    width:400px;
    height:250px;
    background-color: rgb(88, 236, 255);
    position: absolute;
    top:350px;
    left:200px;
    border: 2px solid black;
    border-radius: 30px;
  }
  .container2{
    width:400px;
    height:250px;
    background-color: rgb(211, 82, 211);
    position: absolute;
    top:700px;
    left:200px;
    border: 2px solid black;
    border-radius: 30px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
